<!-- Featured Post -->
<article class="post featured">
    <header class="major">
        <h2><a href="#">Oklahoma's<br />
        Premier CNC Shop</a></h2>
        <p>Founded in 2025, Andrew Holsaeter brought his decade long international experience in offshore engineering
            research and development back to his home state of Oklahoma.</p>
    </header>
    <a class="image main"><img src="assets/images/shop/20260106_134620.jpg" alt="" /></a>
<!--     <ul class="actions special">
        <li><a href="#" class="button large">Full Story</a></li>
    </ul> -->
</article>