<h3>Equipment &amp; Upgrades</h3>

<div class="tour-item">
    <p><span class="image left"><img src="assets/images/shop/20251115_115852.jpg" alt="" /></span>Haas VF-2 manufactured in 2025.</p>
</div>
<div class="tour-item">
    <p><span class="image right"><img src="assets/images/shop/trt160.jpg" alt="" /></span>TRT160 provides 4th and 5th axes for complex 5-axis parts, 
        while allowing for removal for larger/simpler parts only requiring 3 axes.</p>
</div>

<div class="tour-item">
    <p><span class="image left"><img src="assets/images/shop/wips-placeholder.jpg" alt="" /></span>Haas's Wireless Intuitive Probing System (WIPS) allows precise and repeatable tool measurements 
        which are necessary to maintain precision when switching tools or locating features.</p>
</div>
<div class="tour-item">
    <p><span class="image right"><img src="assets/images/shop/carousel1.jpg" alt="" /></span>Large 30+1 tool carousel translates to fast and efficient setup times.</p>
</div>

<div class="tour-item">
    <p><span class="image left"><img src="assets/images/shop/spindle.jpg" alt="" /></span>
        Upgraded 15,000 RPM spindle with TSC (Through Spindle Coolant) facilitating higher detail and smoother 5 axis finishing.</p>
</div>

<div class="tour-item">
    <p><span class="image right"><img src="assets/images/shop/20260109_110517.jpg" alt="" /></span>In addition to subtractive milling, the workshop also has a Prusa XL 3D printer outfitted with 2 extruders allowing for large, multi-material printing.</p>
</div>

<h3>Metrology</h3>

<div class="tour-item">
    <span class="image left"><img src="assets/images/shop/measuring-station-front.jpg" alt="" /></span>
    <div class="row">
        In addition to the automated in-machine inspections from the WIPs system, full manual measuring and inspection capabilities which includes:
        <div class="col-6 col-12-small">
            <ul>
                <li>Granite inspection surface plate.</li>
                <li>12" height gauge.</li>
                <li>Calipers and micrometers.</li>
                <li>Pin gauges.</li>
                <li>Dial bore gauges.</li>
                <li>Thread gauges.</li>
                <li>Gauge blocks.</li>
            </ul>
        </div>
        </div>
</div>
<div class="tour-item">
    <p><span class="image right"><img src="assets/images/shop/height-gauge-with-block.jpg" alt="" /></span>
        12" Double-Beam Dial Height Gauge with 0.001" Graduation and ± 0.0015" Accuracy sitting a top granite surface plate certified to Grade Level A at 1.3 microns.</p>
</div>

<div class="tour-item">
    <p><span class="image left"><img src="assets/images/shop/haas-dial-bore-gauge-set.jpg" alt="" /></span>
        0.4-6" Dial Bore Gauge Set, Full Range
    </p>
</div>
<div class="tour-item">
    <p><span class="image right"><img src="assets/images/shop/thread-gauge-imperial.jpg" alt="" /></span>
        20 pieces of go/no go thread gauges for the most common imperial and metric threads.</p>
</div>

<div class="tour-item">
    <p><span class="image left"><img src="assets/images/shop/pin-gauge-md.jpg" alt="" /><img src="assets/images/shop/pin-gauge-sm.jpg" alt="" /></span>
        Combined, 440 minus Grade ZZ pin gauges ranging from 0.061" - 0.500".
    </p>
</div>
<div class="tour-item">
    <p><span class="image right"><img src="assets/images/shop/gauge-blocks.jpg" alt="" /></span>
        Various gauge blocks
    </p>
</div>

<hr />