<h3>Equipment &amp; Upgrades</h3>

<div class="tour-item">
    <p><span class="image left"><img src="assets/images/shop/20251115_115852.jpg" alt="" /></span>Haas VF-2 manufactured in 2025.</p>
</div>
<div class="tour-item">
    <p><span class="image right"><img src="assets/images/shop/trt160.jpg" alt="" /></span>TRT160 provides 4th and 5th axes for complex 5-axis parts, 
        while allowing for removal for larger/simpler parts only requiring 3 axes.</p>
</div>

<div class="tour-item">
    <p><span class="image left"><img src="assets/images/shop/wips-placeholder.jpg" alt="" /></span>Haas's Wireless Intuitive Probing System (WIPS) allows precise and repeatable tool measurements 
        which are necessary to maintain precision when switching tools or locating features.</p>
</div>
<div class="tour-item">
    <p><span class="image right"><img src="assets/images/shop/carousel1.jpg" alt="" /></span>Large 30+1 tool carousel translates to fast and efficient setup times.</p>
</div>

<div class="tour-item">
    <p><span class="image left"><img src="assets/images/shop/spindle.jpg" alt="" /></span>
        Upgraded 15,000 RPM spindle with TSC (Through Spindle Coolant) facilitating higher detail and smoother 5 axis finishing.</p>
</div>
    

<div class="tour-item">
    <p><span class="image right"><img src="assets/images/shop/20260109_110517.jpg" alt="" /></span>In addition to subtractive milling, the workshop also has a Prusa XL 3D printer outfitted with 2 extruders allowing for large, multi-material printing.</p>
</div>

<hr />